/* SVG styling */
svg {
	width: 960px;
	height: 1000px;
}
#energychart svg, #chart3 svg {
	height: 100px;
}
#chart4 svg {
	height: 1000px;
}
path {
	stroke: #777;
	stroke-width: 0.1px;
}

.labels {
	fill: #aaa;
	font-weight: 200;
	letter-spacing: -1px;
}
.labels.segment {
	font-size: 15px;
  text-align:center;
  font-weight:700;
}

#chart3 .labels {
	fill: #555;
}
